<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l12 s12 center">
        <img class="responsive-img" src="images/logo2.png">
        <p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i> ventas@cajce.com.mx</p>
        <p class="grey-text text-lighten-4"><i class="fa fa-phone"></i> (55)3112 5402</p>
        <div class="col l12 s12">
          <a class="light-blue-text text-darken-4" href="https://www.facebook.com/cajcemx/"><i class="fa fa-facebook fa-2x"></i></a>
          <a class="light-blue-text text-darken-1" href="https://twitter.com/construcajce"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Constructora Cajce S.A de C.V
      <a class="grey-text text-lighten-4 right modal-trigger" href="#legal">Políticas y Terminos.</a>
    </div>
  </div>
</footer>
<div id="legal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Política de privacidad y términos de uso.</h4>
      <p>I. DATOS PERSONALES (INFORMACIÓN, RESPONSABLE Y FINALIDAD). Se entiende por “datos personales” cualquier información concerniente a una persona física identificada o identificable y por “datos personales sensibles” aquellos datos que afecten la esfera más íntima del titular, o cuya uso indebido pueda dar origen a discriminación o conlleve un riesgo grave para este.</p>
      <p>I.I PÁGINA WEB Y/O CORREO ELECTRÓNICO. Los datos que el usuario proporcione, por medio de su página web o correo electrónico constituyen parte de los datos personales sujetos a la protección de este Aviso de Privacidad, siendo así, responsabilidad de la empresa para su buen manejo.</p>
      <p>I.II REDES SOCIALES. La empresa podrá hacer uso de las Redes Sociales para publicidad o fines que a su conveniencia considere que beneficie su objeto comercial o publicidad y podrán ser Facebook y Twitter, entre otras.</p>
      <p>I.III COOKIES Y OTRAS TECNOLOGÍAS. Las cookies son archivos descargados de forma automática para ser almacenados en el disco duro del usuario que navega en una página web, estos permiten al servidor recordar algunos datos del usuario.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>
