<h1 class="center-align">Calidad en todo lo que hacemos.</h1>
<img src="http://cajce.com.mx/ico/logo.fw.png">
<p>Los trabajos de edificación, construcción y reformas, surgen tras años de experiencia en la obra civil y aporta a nuestra compañia una versatilidad y veteranía en el sector, de la que se benefician nuestros clientes. Las primeras actuaciones en edificación las desarrollamos hace varios años, con la creación del equipo especializado en reformas de todo tipo, que ofrece sus servicios tanto para obras civiles como comerciales (tiendas, almacenes, bodegas, plazas, edificios comerciales).</p>
