<h1 class="center-align">Nuestros Servicios.</h1>
<p>Si está buscando una empresa dinámica con iniciativa y respaldada por un grupo de profesionales con amplia experiencia en el sector de la construcción y reformas, no lo dude contacte con nosotros.</p>
<div class="row">
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/a.jpg" alt="Obra civil y Acabados." class="circle responsive-img">
      <p>Obra civil y Acabados.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/b.jpg" alt="Suministro y Colocación de Durock." class="circle responsive-img">
      <p>Suministro y Colocación de Durock.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/c.jpg" alt="Suministro y Colocación de Cempanel." class="circle responsive-img">
      <p>Suministro y Colocación de Cempanel.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/d.jpg" alt="Suministro y Aplicación de Pintura." class="circle responsive-img">
      <p>Suministro y Aplicación de Pintura.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/e.jpg" alt="Suministro y Colocación de Tablaroca." class="circle responsive-img">
      <p>Suministro y Colocación de Tablaroca.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/f.jpg" alt="Suministro y Aplicación de Pintura en Estacionamiento." class="circle responsive-img">
      <p>Suministro y Aplicación de Pintura en Estacionamiento.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/g.jpg" alt="Suministro y Colocación de Pasta Texturizada." class="circle responsive-img">
      <p>Suministro y Colocación de Pasta Texturizada.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/h.jpg" alt="Suministro y Colocación de Azulejo Y Loseta." class="circle responsive-img">
      <p>Suministro y Colocación de Azulejo Y Loseta.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/i.jpg" alt="Suministro y Colocación de Cantera." class="circle responsive-img">
      <p>Suministro y Colocación de Cantera.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/j.jpg" alt="Acabados en General para todo tipo de Construcción." class="circle responsive-img">
      <p>Acabados en General para todo tipo de Construcción.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/k.jpg" alt="Suministro y Aplicación de Pintura Epóxica." class="circle responsive-img">
      <p>Suministro y Aplicación de Pintura Epóxica.</p>
    </div>
  </div>
  <div class="col s6 m3 l2">
    <div class="card-content">
      <img src="http://cajce.com.mx/img/l.jpg" alt="Suministro y Colocación de mármol, granito y ónix." class="circle responsive-img">
      <p>Suministro y Colocación de mármol, granito y ónix.</p>
    </div>
  </div>
</div>
