<div class="slider">
   <ul class="slides">
     <li>
       <img src="http://cajce.com.mx/img/foto4.jpg">
       <div class="caption center-align">
         <h3>Somos los mejores en cada Servicio.</h3>
         <h5 class="light grey-text text-lighten-3">Désde 2006.</h5>
       </div>
     </li>
     <li>
       <img src="http://cajce.com.mx/img/foto5.jpg">
       <div class="caption left-align">
         <h3>Somos una empresa Mexicana.</h3>
         <h5 class="light grey-text text-lighten-3">Dedicada y comprometida con sus valores.</h5>
       </div>
     </li>
     <li>
       <img src="http://cajce.com.mx/img/foto3.jpg">
       <div class="caption right-align">
         <h3>Nos mantenemos a la vanguardia.</h3>
         <h5 class="light grey-text text-lighten-3">Responsables con el medio ambiente y la sociedad.</h5>
       </div>
     </li>
     <li>
       <img src="http://cajce.com.mx/img/foto6.jpg">
       <div class="caption center-align">
         <h3>La construcción es nuestra mayor fuerza.</h3>
         <h5 class="light grey-text text-lighten-3">Calidad en todo lo que hacemos.</h5>
       </div>
     </li>
   </ul>
 </div>
