<div class="container">
  <div class="row">
    <div class="col l12 center">
      <h5>Envíanos tus datos, nos comunicaremos lo antes posible.</h5>
      <div class="card-panel">
        <div class="row">
          <form role="form" action="http://cajce.com.mx/contacto.php" method="post" class="col s12" id="contacto">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" name="nombre" class="validate" type="text" required id="nombre">
                <label for="nombre">Nombre</label>
              </div>
              <div class="input-field col s6">
                <input type="email" name="email" class="validate" id="email">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="mensaje"></textarea>
                <label for="textarea1">Cuéntanos sobre tu proyecto</label>
              </div>
              <div class="row center">
                <input type="button" name="submit" value="Enviar" class="btn-large waves-effect waves-light teal lighten-1">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
